
set default=0
set timeout=15
set menu_color_normal=white/black
set menu_color_highlight=yellow/black

search --no-floppy --set=root -l 'Fedora-MATE'

menuentry "Try Or Install GXDE (Linux 6.10)" --hotkey=t {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (fail-safe mode) (Linux 6.10)" --hotkey=t {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (Linux 6.0)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components quiet splash findiso=${iso_path} locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

menuentry "Try Or Install GXDE (fail-safe mode) (Linux 6.0)" --hotkey=t {
	linux	/live/vmlinuz-oldstable boot=live components memtest noapic noapm nodma nomce nolapic nosmp nosplash vga=788 locales=zh_CN.UTF-8
	initrd	/live/initrd.img
}

